@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

:root {
  --primary-soft-blue: hsl(215, 51%, 70%);
  --primary-cyan: hsl(178, 100%, 50%);
  /* neutral colour */
  --neutral-dark-blue-main: hsl(217, 54%, 11%);
  --neutral-dark-blue-card: hsl(216, 50%, 16%);
  --neutral-dark-blue-line: hsl(215, 32%, 27%);
  --neutral-white: hsl(0, 0%, 100%);
}

* {
  font-family: "outfit", sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--neutral-dark-blue-main);
}

#cover {
  display: block;
  width: 80vh;
  border-radius: 10px;
}

.container {
  width: min-content;
  background: linear-gradient(
    0deg,
    var(--neutral-dark-blue-card),
    var(--neutral-dark-blue-line)
  );
  padding: 25px;
  border-radius: 15px;
  margin-top: 15%;
  margin-bottom: 15%;
  box-shadow: 15px 15px 5px hsl(215, 95%, 8%);
}

p {
  font-size: 18px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
